* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.score {
	position: fixed;
	top: 0;
	left: 0;
}

#start {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	background-color: white;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

#start h1,
#start p {
	color: black;
	text-align: center;
	font-size: 2rem;
}

#start h1 {
	font-size: 5rem;
}

#start div button {
	border: 0;
	background-color: blue;
	color: white;
	padding: 2rem 16rem;
	font-size: 2rem;
	cursor: pointer;
}
